[MESSAGES CONTROL]
disable=
    consider-using-f-string,
    duplicate-code,
    fixme,
    import-outside-toplevel,
    invalid-name,
    missing-docstring,
    no-name-in-module,
    no-member,
    protected-access,
    too-few-public-methods,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    too-many-public-methods,
    too-many-statements,
    unbalanced-tuple-unpacking,
    wrong-import-position,
