[MASTER]
ignore=
    preferences.py,
    sync.py

[MESSAGES CONTROL]
disable=
    no-name-in-module,
    no-member,
    invalid-name,
    missing-docstring,
    wrong-import-position,
    too-few-public-methods,
    too-many-instance-attributes,
    fixme,
    line-too-long,
