[MESSAGES CONTROL]
disable=
    no-name-in-module,
    no-member,
    invalid-name,
    missing-docstring,
    wrong-import-position,
    too-few-public-methods,
    too-many-instance-attributes,
    too-many-branches,
    too-many-lines,
    too-many-locals,
    too-many-public-methods,
    too-many-statements,
    duplicate-code,
    fixme,
