asn1crypto==0.24.0
attrs==18.1.0
autobahn==18.4.1
Automat==0.6.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
constantly==15.1.0
cryptography==2.2.2
hkdf==0.0.3
humanize==0.5.1
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipaddress==1.0.22
magic-wormhole==0.10.5
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyNaCl==1.2.1
pyOpenSSL==17.5.0
pypiwin32==223 ; sys_platform == "win32"
PyQt5==5.10.1
pywin32==223 ; sys_platform == "win32"
PyYAML==3.12
qt5reactor==0.5
requests==2.18.4
service_identity==17.0.0
SIP==4.19.8
six==1.11.0
spake2==0.8
tqdm==4.23.2
treq==17.8.0
Twisted==18.4.0
txaio==2.10.0
txdbus==1.1.0 ; "linux" in sys_platform
txtorcon==0.20.0
urllib3==1.22
zope.interface==4.5.0
zxcvbn-python==4.4.24
