asn1crypto==0.24.0
attrs==18.2.0
autobahn==19.2.1
Automat==0.7.0
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
click==7.0
constantly==15.1.0
cryptography==2.5
hkdf==0.0.3
humanize==0.5.1
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
ipaddress==1.0.22
magic-wormhole==0.11.2
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
PyHamcrest==1.9.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pypiwin32==223 ; sys_platform == "win32"
# PyQt 5.12 is not compatible with older GNU/Linux distros (including Ubuntu
# 14.04 LTS) and will fail with the error message "libQt5DBus.so.5: symbol
# dbus_message_get_allow_interactive_authorization, version LIBDBUS_1_3 not
# defined in file libdbus-1.so.3 with link time reference" so pin to 5.11.3.
PyQt5==5.11.3
PyQt5-sip==4.19.13
pywin32==223 ; sys_platform == "win32"
PyYAML==3.13
qt5reactor==0.5
requests==2.21.0
service_identity==18.1.0
six==1.12.0
spake2==0.8
tqdm==4.31.1
treq==18.6.0
Twisted==18.9.0
txaio==18.8.1
txtorcon==19.0.0
urllib3==1.24.1
zope.interface==4.6.0
zxcvbn==4.4.27
